<Security>
<Options 
FieldUserOwnerID=""
FieldUserGroupID="KODEKELOMPOK"
GuestMode="Enabled"
/>


<Tables> 
<Table Name="dbo.PENGADAAN_LANGSUNG" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="S">
<UserGroups> 
<User Name="SEKRETARIAT" Permission="AEDS" />
<User Name="DLP" Permission="AEDS" />
<User Name="ANGGOTA" Permission="AEDS" />
<User Name="SKPD" Permission="AEDS" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.AKTOR" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.TIPEAKTOR" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.STATUSPBJ" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.SKPD" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.PENGGUNA" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.PBJ" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="S">
<UserGroups> 
<User Name="ANGGOTA" Permission="AEDSP" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="AEDSP" />
<User Name="&lt;Guest&gt;" Permission="S" />
<User Name="UMUM" Permission="S" />
<User Name="SKPD" Permission="S" />
</UserGroups> 
</Table> 
<Table Name="dbo.KELOMPOKPENGGUNA" FieldUserOwnerID="KODEPENGGUNA" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.KELENGKAPANPBJ" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="S">
<UserGroups> 
<User Name="ANGGOTA" Permission="AEDSP" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="AEDSP" />
<User Name="&lt;Guest&gt;" Permission="S" />
<User Name="UMUM" Permission="S" />
<User Name="SKPD" Permission="S" />
</UserGroups> 
</Table> 
<Table Name="dbo.KELENGKAPAN" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.JENISKEGIATAN" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.JABATANAKTOR" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.DOKUMEN" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="">
<UserGroups> 
<User Name="ANGGOTA" Permission="" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="" />
<User Name="&lt;Guest&gt;" Permission="" />
<User Name="UMUM" Permission="" />
<User Name="SKPD" Permission="" />
</UserGroups> 
</Table> 
<Table Name="dbo.ASSIGNMENT" FieldUserOwnerID="" OwnerIDField="" AdvSecurityMethod="0" DEFAULT="S">
<UserGroups> 
<User Name="ANGGOTA" Permission="AEDSP" />
<User Name="DLP" Permission="AEDSP" />
<User Name="SEKRETARIAT" Permission="AEDSP" />
<User Name="&lt;Guest&gt;" Permission="S" />
<User Name="UMUM" Permission="S" />
<User Name="SKPD" Permission="S" />
</UserGroups> 
</Table> 
</Tables> 
</Security>