<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>
  <appSettings>
	<add key="webpages:Enabled" value="true" />
    <add key="LoginMethod" value="WITHLOGIN"/>
    <add key="LoginFrom" value="DB"/>
    <add key="UserListTable" value="dbo.PENGGUNA"/>
    <add key="FieldUserLogin" value="KODEPENGGUNA"/>
    <add key="FieldUserLoginType" value="String"/>
    <add key="FieldUserPwd" value="KATAKUNCI"/>
    <add key="FieldUserPwdType" value="String"/>
    <add key="TablesFile" value="permission.config"/>
    <add key="LoginFile" value="login.aspx"/>
    <add key="MenuFile" value="menu.aspx"/>
    <add key="StartPage" value="menu.aspx"/>
    <add key="LCID" value="1057"/>
    <add key="StringEmpty" value="DBNull"/>
    <add key="PGConnString" value="Server=203.19.4.29;Port=5432;User Id=smsbogor;Password=smsbogor;Database=epns_prod;"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=DESKTOP-O5PH17L\SQLEXPRESS;initial catalog=ulp;persist security info=False;user id=sa;password=r3DKnee123;packet size=4096" providerName="System.Data.SqlClient" />
   
    <add name="PGConnectionString" connectionString="Server=202.159.24.54;Port=5432;User Id=smsbogor;Password=smsbogor;Database=epns_prod;" /> 
  </connectionStrings>
  <SubSonicService defaultProvider="MyProvider">
    <providers>
      <clear/>
      <add name="MyProvider" type="SubSonic.SqlDataProvider, SubSonic" fixPluralClassNames="false" includeProcedureList="" includeTableList="AKTOR, TIPEAKTOR, STATUSPBJ, SKPD, PBJ, KELOMPOKPENGGUNA, KELENGKAPANPBJ, KELENGKAPAN, JENISKEGIATAN, JABATANAKTOR, DOKUMEN, ASSIGNMENT, PENGGUNA  ,PENGGUNA " connectionStringName="ConnectionString" generatedNamespace="Data"/>
    </providers>
  </SubSonicService>
  <system.web>
    <!--     <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode ="Never" />-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
<!--
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
-->
  </system.web>
</configuration>